<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>Dash</title>
</head>

<body>

	<div class="content">
		<ul class="breadcrumbs">
			<li> <a href="/"> Dash</a> </li>
			<li> / </li>
			<li> <a href="/aero">aero</a> </li>
			<li> / </li>
			<li> aero_view </li>
		</ul>
		<h1>
			<ul>
						<li>aeroTeam ID: <%- TeamAero.URN %></li>
						<li>ResearchOnParts: <%- TeamAero.ResearchOnParts %></li>
						<li>SimulatorySoftwareRan: <%- TeamAero.SimulatorySoftwareRan %></li>
						<li>TailSize: <%- TeamAero.TailSize %></li>
						<li>WingSize: <%- TeamAero.WingSize %></li>
						<li>DistanceBetween: <%- TeamAero.DistanceBetween %></li>
						<li>BatteryType: <%- TeamAero.BatteryType %></li>
						<li>FirstSeg: <%- TeamAero.FirstSeg %></li>
						<li>SecondSeg: <%- TeamAero.SecondSeg %></li>
						<li>ThirdSeg: <%- TeamAero.ThirdSeg %></li>
						<li>PathTestResult: <%- TeamAero.PathTestResult %></li>
						<li>MotorSize: <%- TeamAero.MotorSize %></li>
						<li>MotorType: <%- TeamAero.MotorType %></li>
			</ul>
		</h1>

	</div>

</body>

</html>
