<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>Dash</title>
</head>

<body>

	<div class="content">
		<ul class="breadcrumbs">
			<li> <a href="/"> Dash</a> </li>
			<li> / </li>
			<li> <a href="/Team_Peryton">TeamMembers</a> </li>
			<li> / </li>
			<li> View </li>
		</ul>
		<h1>	
			<ul>
				<li>Member ID: <%- Team_Peryton.URN %></li>
				<li>meetings attended: <%- Team_Peryton.meetings_attended %></li>
				<li>Glider Workshop Attend: <%- Team_Peryton.Glider_workshop_attend %></li>
				<li>Drone license: <%- Team_Peryton.Drone_license %></li>
				<li>Room Num: <%- Team_Peryton.Room_num %></li>
				<li>Drone experience: <%- Team_Peryton.Drone_experience %></li>
				<li>GroupSectionLeader ID: <%- Team_Peryton.TeamLeader_URN %></li>
			</ul>
		</h1>

	</div>

</body>

</html>
